@model IEnumerable<Online_Flight_Booking_Final.Models.FlightBooking>

@{
    ViewData["Title"] = "Index";
}

<h1>Flight Bookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Passenger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Passenger.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.FlightNumber)
            </td>
            <td>
                @if (User.IsInRole("flight_admin"))
                {
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                }
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-success" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
